@{
    ViewBag.Title = "Home Page";
}

<h1>Click on the image to set tag area coordinates</h1>
<div class="row">
    <div style="width:1600px; height:400px">
        <img id="slika" class="map" usemap="#map"  style="width:auto; height:inherit" onClick="imageOnClick(event, 'map')" onmousedown="return false" src="http://images.all-free-download.com/images/graphiclarge/beautiful_scenery_04_hd_pictures_166258.jpg" />
    </div>

    <map id="map" name="map"></map>

    <div class="col-md-4">
        <div class="row">
            <div class="col-md-6">Clear current input:</div>
            <input class="col-md-3" type="button" id="btnClear" onclick="ClearTempArea()" value="Clear" />
        </div>
        <br/>
        <div class="row">
            <div class="col-md-6">Add current area to the image:</div>
            <input class="col-md-3" type="button" id="btnAdd" onclick="AddArea('map', 'area', 'title')" value="Add Area" />
        </div>
        <br />
        <div class="row">
            <div class="col-md-6">Change tag format to:</div>
            <input class="col-md-3" type="button" id="btnChangeTagFormat" onclick="ChangeTagFormat(this.id, 'radiusDiv')" value="Circle" />           
        </div>
        <br/>
        <div class="row" id="radiusDiv" style="visibility:hidden">
            <div class="col-md-6">Adjust radius of circle tag:</div>
            <input class="col-md-3" type="number" id="nmbRadius" min="5" onchange="ChangeRadius(this.id)" name="radius" value="100" step="5"/>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/jquery")
<script src="~/Scripts/jquery.maphilight.js"></script>
<script src="~/Scripts/TagImage.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        Hilight();
    });
</script>